{% extends 'base.html.twig' %}
{% block body %}

        <form method="get">
            Wybierz test:
            <select name="testId">
                {% for test in tests %}
                    <option value="{{ test.id }}">{{ test.name }}</option>
                {% endfor %}
            </select><br>
            Zakres dat:<br>
            Od:
            <input type="date" name="dateFrom"/>
            <input type="date" name="dateTo"/>
            <input type="submit" value="Wyślij">
        </form><br>
        Średnie wyniki za wybrany okres czasu:<br>
        {% for result in results %}
            Pytanie: {{ result.text }} średnia: {{ result.1 }}<br>
        {% endfor %}

    <button style="background-color: yellow; font-family: Lato; font-size: 25px"><a
                href="{{ path('usersite') }}">Wróć do strony użytkownika</a></button>
{% endblock %}
