{% extends 'base.html.twig' %}

{% block body %}

    <div>
        Witaj!<br>
        Jesteś zalogowany jako: {{ user.username }}<br>
        <button style="background-color: yellow; font-family: Lato; font-size: 15px"><a
                    href="{{ path('fos_user_security_logout') }}">Wyloguj</a></button><br><br><br>
    </div>


    <div>Wybierz i rozwiąż test:<br>
        {% for test in tests %}
            {{ test.name|upper }}

            <button style="background-color: yellow; font-family: Lato; font-size: 25px"><a
                        href="{{ path('app_default_form', {'id': test.id}) }}">Rozwiąż test</a></button>
            <br><br>
        {% endfor %}
    </div>
    <button style="background-color: yellow; font-family: Lato; font-size: 25px"><a
                href="{{ path('showresult') }}">Zobacz wyniki</a></button>

{% endblock %}
